 <tr class="border-b dark:border-gray-700">
    <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= user.first_name %></th>
    <td class="px-4 py-3"><%= user.last_name %></td>
    <td class="px-4 py-3"><%= user.gender %></td>
    <td class="px-4 py-3"><%= user.phone_number %></td>
    <td class="px-4 py-3"><%= user.email %></td>
    <td class="px-4 py-3"><%= user.job %></td>
    <td class="px-4 py-3"><%= user.date_of_birth %></td>
</tr>